<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a self taught game dev based in Chicago IL. Like many, I grew up and fell in love with video games
          in my youth, but, as I grow older, the artistry and engineering required to craft these experiences
          continues to hold my attention.</p>
      </div>
      <div class="col-lg-4">
        <p> I enjoy designing fun interactive systems as well as working on 3D models and animations.</p>
      </div>
    </div>
  </div>
</section>
